body {
	background-color: #F5F5F5;
}

header {
	background-color: #4B0082;
}


nav li {
	color: white;
	margin: 0 14px;
}

footer {
	background-color: black;
}

.mylogo {
	color: white;
}

.trans-font {
	color: white;
}

.white-block {
	background-color: white;
	text-align: center;
}

.cols-block-3 {
	background-color: #F5F5F5;
}

.link-title {
	color: #F5F5F5;
}

.copyright {
	color: white;
}

.sub-title {
	color: #696969;
}

.blog-title {
	color: #a660b7;
}

.blog-date {
	background-color: #522a5c;
}

.blog-category {
	background-color: #a660b7;
}

.page-no {
	background-color: white;
}

.disabled {
	color: gray;
}

.current-page {
	background-color: #a660b7;
	color: white;
}

 .search {
 	background-color: white;
 }

  .aside-nav ul li {
	background-color: white;
 }

 .nav-line {
 	background-color: lightgray;
 }

 .current-nav {
 	background-color: #4B0082;
 }

 .date-frame {
 	background-color: white;
 	color: gray;
 }

 .date-frame th {
 	color: #4B0082;
 }

 .today {
 	background-color: #4B0082;
 	color: white;
 }

 .marked-date {
 	color: #4B0082;
 }

 .tags {
	background-color: white;
 }
 .tag-name {
 	color: #4B0082;
 }

 .aside-nav ul li {
	color: gray;
 }

/*标签未激活时的颜色*/
 .gallery-tag.all{
 	border-color: #dfc6e6;
 }

 .gallery-tag.jscript {
 	border-color: #dfc6e6;
 }

 .gallery-tag.uicomponents {
 	border-color: #d2a6ff;
 }

 .gallery-tag.framework {
	border-color: #ffa98c;
 }

 .gallery-tag.apps {
 	border-color: #ffe188;
 }

  .item-content.all.activated {
 	background-color: #d9a300;
	color: white;
 }

 .all.activated {
	border-color: #522a5c;
 }



 .item-large-content.jscript.activated {
 	background-color:#522a5c;
 	color: white;
 }

 .item-content.jscript.activated {
 	background-color:#522a5c;
 	color: white;
 }

  .jscript.activated {
 	border-color: #522a5c;
 }

 .item-content.uicomponents.activated {
	background-color: #5900b2;
	color: white;
 }

 .uicomponents.activated {
	border-color: #5900b2;
 }

 .item-content.framework.activated {
 	background-color: #8c2300;
 	color: white;
 }

 .item-content.framework.activated {
	background-color: #8c2300;
	color: white;
 }

 .framework.activated {
	border-color: #8c2300;
 }

 .apps.activated {
 	background-color: #d9a300;
 	color: white; 
 }

 .apps.activated {
 	border-color: #d9a300;
 }

 .item-icon {
 	border-color: white;
 }

 .rank-title {
 	color: gray;
 }

.aside-rank {
	background-color: white;
}

 .aside-rank span {
 	background-color: #522a5c;
 	color: white;
 }

 .rank-bar div {
	background-color: #522a5c;
}

.gallery-more {
	background-color: white;
}

.more-block p {
	color: gray;
}


.about-block {
    background-color: white;
}