* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 980px) {
    .githubicon {
        display: none;
    }
}

body,
html {
    width: 100%;
    /*	height: 100%;*/
}

header {
    width: 100%;
    height: 80px;
}

nav {
    height: 100%;
    width: 100%;
    position: relative;
}

nav ul {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 5px;
}

nav li {
    display: inline-block;
    font-size: 14px;
}

header img {
    position: relative;
    bottom: 0px;
}

hr {
    height: .5px;
    background-color: white;
    border: none;
}

footer {
    width: 100%;
}


/*HOME页面*/

.container {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.mylogo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 5px;
}

.githubicon {
    float: right;
    padding-top: 46px;
    padding-right: 10px;
}

.banner {
    width: 100%;
    height: 868px;
    background: url(../images/banner-bg.jpg) no-repeat;
    /*	max-width: 100%;
	height: 100%;*/
    background-size: 100% 100%;
    overflow: hidden;
}

.banner .container {
    position: relative;
}

.trans-font {
    padding: 10px 10px 30px 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 350px;
    background: -webkit-linear-gradient( to bottom, rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 0%);
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 0%);
}

.trans-title {
    text-align: right;
}

.trans-text {
    margin-top: 12px;
}

.cols-block-3 {
    width: auto;
    height: auto;
}

.cols-block-3 .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 990px;
    padding-bottom: 200px;
}

.white-block {
    width: 320px;
    margin: 10px 5px;
}

.cols-content {
    text-align: center;
    padding-top: 10px;
}

.cols-content p {
    padding: 15px 15px 25px 15px;
    text-align: left;
}

.self-intro {
    background-color: white;
    width: 100%;
    padding-bottom: 185px;
}

.self-portrait {
    text-align: center;
}

.self-portrait img {
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 80px;
}

.intro-title {
    text-align: center;
    margin-bottom: 50px;
}

.intro-content {
    width: 600px;
    margin: 0 auto;
}

.footer-nav {
    width: 100%;
    height: 35px;
}

.footer-nav ul {
    width: 100%;
    text-align: center;
}

.footer-nav ul li {
    font-size: 12px;
}

.links {
    width: 100%;
    height: 290px;
}

.links .container {
    display: flex;
}

.link-block {
    width: 76px;
    margin: 40px 50px;
    height: 250px;
    font-size: 12px;
    color: white;
}

.link-block ul {
    list-style: none;
}

.link-block ul li {
    margin: 7px 0;
}

.link-content {
    margin-top: 20px;
}

.link-block ul li a {
    text-decoration: none;
    color: white;
}

.link-block ul li a:hover {
    text-decoration: underline;
    text-align: center;
}

.copyright {
    text-align: center;
    height: 70px;
    width: 100%;
}

.copyright-block {
    background-image: url(../images/icon-github.png);
    background-repeat: no-repeat;
    background-position: bottom;
}


/* BLOG页面 */

.blog-cols-2 {
    display: flex;
    margin-top: 10px;
    height: 100%;
    margin-bottom: 400px;
}

.blogs {
    width: 710px;
    margin-top: 0px;
}

.blog-block {
    width: 710px;
    background-color: white;
}

.blog-content {
    margin: 10px 15px;
    padding: 20px 0px;
}

.blog-title {
    margin-bottom: 10px;
}

.sub-title {
    margin-bottom: 20px;
}

.blog-text {
    text-indent: 2em;
    padding: 0;
}

.blog-tag {
    width: 50px;
    color: white;
    text-align: center;
    margin-left: -50px;
    margin-top: 20px;
    float: left;
}

.blog-date {
    height: 40px;
}

.blog-category {
    height: 40px;
}

.blog-date p {
    padding-top: 10px;
}

.blog-category p {
    padding-top: 10px;
}

.page-no {
    padding: 10px 15px;
}

.pages-block {
    width: 100%;
    text-align: center;
}

.pages {
    margin: 0px auto;
}


/*侧边导航*/

aside {
    width: 260px;
    margin-left: 10px;
}

.search {
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    overflow: auto;
}

.search input {
    width: 130px;
    height: 39px;
    background-image: url(../images/search-icon.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    border: solid 1px lightgray;
    padding-left: 40px;
    float: left;
}

.search-btn {
    background-image: url(../images/search-button.png);
    border: none;
    width: 48px;
    height: 41px;
    float: right;
}

.aside-nav {
    margin-top: 10px;
}

.aside-nav ul {
    display: block;
    list-style: none;
}

.aside-nav ul li {
    padding: 20px;
}

.nav-line {
    float: left;
    width: 5px;
    height: 60px;
    margin-top: -20px;
    margin-left: -20px;
}

.date-frame {
    margin-top: 10px;
}

.date-content {
    padding: 20px;
}

.date-frame td {
    font-weight: normal;
    border-bottom: solid 1px lightgray;
    padding: 15px 6.5px;
}

.tags {
    margin-top: 10px;
    width: 260px;
}

.tag-name {
    margin: 10px;
}

.tags-container {
    margin-left: 10px;
    flex-wrap: wrap;
    display: flex;
}

/*gallery页面*/

.gallery {
	width: 710px;
}

.gallery-cols-2 {
    display: flex;
    margin-top: 70px;
    height: 100%;
    margin-bottom: 400px;
}

.gallery-tag {
    float: left;
    display: block;
    margin: -50px .5px 0px .5px;
    background-color: white;
    padding: 15px 20px 20px 20px;
    border-style: none;
    border-top: 5px solid;
}

.gallery-waterfall {
	background-color: white;
	margin-top: 10px;
	height: 800px;
}

.waterfall-box-1 {
	margin-left: 20px;
	float: left;
	padding-top: 20px;
	width: 340px;
   -webkit-column-width: 160px;
   -moz-column-width: 160px;
   -o-column-width: 160px;
   -ms-column-width: 160px;
   column-width: 160px; 
   column-gap: 0px;
}

.waterfall-box-2 {
	padding-top: 20px;
	width: 340px;
	column-width: 160px;
   -moz-column-width: 160px;
   -o-column-width: 160px;
   -ms-column-width: 160px;
   column-width: 160px; 
   column-gap: 0px;
}

.item {
	-moz-page-break-inside: avoid;
    -webkit-page-break-inside: avoid;
    break-inside: avoid;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}

.item-large {
	column-span: all;
}

.item-large-content {
	margin-top: -5px;
	margin-bottom: 10px;	
	margin-right: 10px;
	padding-top: 12.5px;
	padding-bottom: 15px;
}

.item-content {
	margin-top: -5px;
	margin-bottom: 10px;
	padding-top: 12.5px;
	padding-bottom: 15px;
}

.item-icon{
	float: left;
	border-width: 1px;
	margin-left: 10px;
	border-style: solid;
	border-radius: 25px;
	text-align: center;
	width: 25px;
	height: 25px;
}

.item-text {
	margin-left: 50px;
	margin-right: 12.5px;
}

/*侧边栏排行榜*/

.aside-rank {
	margin-top: 10px;
	padding-bottom: 40px;
}

 .rank-title {
 	margin-bottom: 25px;
 	padding-top: 20px;
 	margin-left: 12.5px;
 }

.aside-rank span {	
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 12.5px;
	margin-right: 12.5px;
	border-radius: 15px;
	text-align: center;
}

.aside-rank ol li {
	list-style-type: none;
	display: inline-block;
	margin-top: 12.5px;
}

.rank-bar {
	height: 18px;
	width: 100px;
	float: left;
	margin-right: 10px;
	border-style: solid;
	border-width: 1px;
}

.rank-bar div {
	height: 100%;
}

.gallery-more {
	margin-top: 10px;
	height: 50px;
	background-color: white;
	text-align: center;
}

.more-block {
	width: 150px;
	margin: 0 auto;
}

.more-block img {
	float: left;
	margin-top: 5px;
}

.more-block p {
	padding: 12.5px;
}

/*about页面*/

.about-block {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-content {
    text-align: center;
}

.about-item-title-img img{
    border-radius: 150px;
    margin: 0 auto;
    margin-top: -60px;
    border-style: solid;
    border-width: 10px;
    border-color: #F5F5F5;
}

.about-round-img img{
    border-radius: 150px;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
    border-color: #F5F5F5;
}

.about-item-text {
    margin: 0 auto;
    width: 400px;
}

.about-item-left {
    float: left;
}

.about-item-right {
    width: 300px;
    float: right;
    margin-right: -200px;
}

.about-vertical-line {
    height: 200px;
    width: 5px;
    background-color: #F5F5F5;
    margin: 0 auto;
    margin-top: -5px;
}

.about-vertical-line-short {
    height: 60px;
    width: 5px;
    background-color: #F5F5F5;
    margin: 0 auto;
    margin-top: -5px;
}

.about-vertical-block {
    text-align: center;
}

.about-vertical-text{
    margin: 0 auto;
    width: 60px;
    border: solid 5px #F5F5F5;
    border-radius: 10px;
}

.about-vertical-right {
    float: right;
    margin-top: -25px;
}